{% extends 'admin/index.html' %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col m12">
            <a class="uk-button uk-button-secondary" href="/add_event">Add Event</a>
        </div>
    </div>


    {% if msg == 'success' %}
        <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Description updated successfully.</p>
        </div>
    {% endif %}
    {% if action == "description" %}
        <!-- This is an anchor toggling the modal -->
        <a href="#modal-example" uk-toggle style="display: none" id="desc">Open</a>

        <!-- This is the modal -->
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">

                <h2 class="uk-modal-title">Description - {{ event_name }}</h2>
                <p>{{ desc }}</p>
                <p class="uk-text-right">
                    <a class="uk-button uk-button-default" href="/events"> Close</a>
                </p>

                </form>

            </div>
        </div>
    {% endif %}
    {% if action == "rules" %}
        {{ id }}
    {% endif %}
    <table class="responsive-table highlight">
        <tr>
            <th>Department</th>
            <th>Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Venue</th>
            <th></th>
            <th></th>
        </tr>
        {% set root = xml.getroot() %}
        {% for r in root %}
            <tr>
                <td>{{ r.attrib['name'] }}</td>
                {% for event in r %}
                    {% set event_id = event.attrib["id"] %}
                    {% for sub_tag in event %}
                        {% if sub_tag.tag != "description" %}
                            <td>{{ sub_tag.text }}</td>
                        {% endif %}

                    {% endfor %}
                    <td>
                        <div class="uk-button-group">
                            <a class="uk-button uk-button-primary"
                               href="/events/description/{{ event_id }}">Description</a>
                            <a class="uk-button uk-button-danger" href="/events/rules/{{ event_id }}">Rules</a>
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block script %}
    <script>

        {% if action == "description" %}
            document.getElementById('desc').click();
        {% endif %}
        $(document).delegate('#textbox', 'keydown', function (e) {
            var keyCode = e.keyCode || e.which;

            if (keyCode == 9) {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;

                // set textarea value to: text before caret + tab + text after caret
                $(this).val($(this).val().substring(0, start)
                    + "\t"
                    + $(this).val().substring(end));

                // put caret at right position again
                this.selectionStart =
                    this.selectionEnd = start + 1;
            }
        });


    </script>
    <script>

    </script>
{% endblock %}