{% extends 'admin/index.html' %}

{% block style %}
    <style>

    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col m12">
            <a class="uk-button uk-button-secondary" href="/add_event">Add Event</a>
        </div>
    </div>

    {% if msg == 'error' %}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Error Occurred !</p>
        </div>
    {% endif %}
    {% if msg == 'success' %}
        <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Event added successfully.</p>
        </div>
    {% endif %}
    {% if msg == 'deleted' %}
        <div class="uk-alert-success" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p>Event deleted successfully.</p>
        </div>
    {% endif %}
    {% if action == "description" %}
        <!-- This is an anchor toggling the modal -->
        <a href="#modal-example" uk-toggle style="display: none" id="desc">Open</a>

        <!-- This is the modal -->
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">

                <h2 class="uk-modal-title">Description - {{ myevent.NAME }}</h2>
                <p id="event_description"></p>
                <p class="uk-text-right">
                    <a class="uk-button uk-button-default" href="/events"> Close</a>
                </p>

                </form>

            </div>
        </div>
    {% endif %}
    {% if action == "rules" %}
        <!-- This is an anchor toggling the modal -->
        <a href="#modal-example" uk-toggle style="display: none" id="rule">Open</a>

        <!-- This is the modal -->
        <div id="modal-example" uk-modal>
            <div class="uk-modal-dialog uk-modal-body">

                <h2 class="uk-modal-title">Rules - {{ myevent.NAME }}</h2>
                <p>
                    {% set r = myevent.RULES %}
                    {% set r1 = r.split("<br>") %}
                    {% for rule in r1 %}
                        {{ rule }}<br>
                    {% endfor %}
                </p>
                <p class="uk-text-right">
                    <a class="uk-button uk-button-default" href="/events"> Close</a>
                </p>

                </form>

            </div>
        </div>
    {% endif %}
    {% if message == "home" %}
        <table class="responsive-table highlight">
            <tr>
                <th>Department</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Venue</th>
                <th></th>
            </tr>

            {% for event in myevent %}
                <tr>
                    <td>{{ event.DEPARTMENT }}</td>
                    <td>{{ event.NAME }}</td>
                    <td>{{ event.DATE }}</td>
                    <td>{{ event.TIME }}</td>
                    <td>{{ event.VENUE }}</td>
                    <td>

                        <div class="uk-button-group">
                            <a class="uk-button uk-button-primary"
                               href="/events/description/{{ event.ID }}">Description</a>
                            <a class="uk-button uk-button-danger" href="/events/rules/{{ event.ID }}">Rules</a>
                            <a class="uk-button uk-button-danger" style="background-color: lightslategrey"
                               href="/events/delete/{{ event.ID }}">Delete</a>

                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
{% block script %}
    <script>

        {% if action == "description" %}
            document.getElementById('desc').click();
        {% endif %}
        {% if action == "rules" %}
            document.getElementById('rule').click();
        {% endif %}
        $(document).delegate('#textbox', 'keydown', function (e) {
            var keyCode = e.keyCode || e.which;

            if (keyCode == 9) {
                e.preventDefault();
                var start = this.selectionStart;
                var end = this.selectionEnd;

                // set textarea value to: text before caret + tab + text after caret
                $(this).val($(this).val().substring(0, start)
                    + "\t"
                    + $(this).val().substring(end));

                // put caret at right position again
                this.selectionStart =
                    this.selectionEnd = start + 1;
            }
        });
        {% if action == "description" %}
            event_description = document.getElementById('event_description');
            var des = '';
                {% set d = myevent.DESCRIPTION.splitlines() %}
                {% for de in d %}
                    des += '{{ de }}<br>'
                {% endfor %}
                event_description.innerHTML = des;
        {% endif %}
    </script>
    <script>

    </script>
{% endblock %}


