<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='backend/style.css')}}">
    <style type="text/css">
        table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
}
     </style>
    <script type="text/javascript">

        $(document).ready(function(){
            
           /* $("#key").on("click", function(){
               
                 $.ajax({
                    data : {
                    },
                    type : 'POST',
                    url : '/generatekey'
                })
                .done(function(data){
                    $('#gkey').val(data.key);
                    

                })
                event.preventDefault();
            }); */

            $('form').on('submit',function(event){
                $.ajax({
                    data : {
                        fname : $('#fname').val(),
                        lname : $('#lname').val(),
                        email : $('#email').val(),
                        mobile : $('#mobile').val(),
                    },
                    type : 'POST',
                    url : '/process'
                })
                .done(function(data){
                    var result = data.result
                    swal("Oops...",result, "error");
                  //  $('#result').text(data.result).show();
                    if(data.ok){
                        document.getElementById("camp_data_form").reset();
                        swal({
                                title: "Successfully Registered ! ",
                                text: data.key,
                                icon: "success",
                                button: "Okk",
                            });
                        
                    }
                })
                event.preventDefault();
            });

        });
    </script>
    <title>key Generation</title>
</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid" >
         <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="text-align: center;font-family: Comic Sans Ms;">Campaigner's Desk</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           
            <!--
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">

            
             <li><a href="/camp_change_password/{{session['camp_id']}}"><span class="glyphicon glyphicon-user"></span> Change Password</a></li>
             <li><a href="/camped_data"><span class="glyphicon glyphicon-user"></span> camped data</a></li>   
             <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout</a></li>

           

            
           
          </ul>
        </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

    <div class="" style="margin-top:10%;">

            
           
				
        <br />
        <h1 style="text-align: center;font-family:Comic Sans Ms;" class="display-3"> Student Registration </h1>
        
        <hr />
    <form  name="camp_data_form" id="camp_data_form" action="/process" method="POST">
        <table align="center" class="">
               
            <tr><td><label for="usr">First Name</label> </td><td> <input type="text" class="form-control" name="fname" id="fname" required></td></tr>
            <tr><td> <label for="usr">Last Name</label> </td><td> <input type="text" class="form-control" name="lname" id="lname" required></td></tr>
        <tr><td> <label for="email">Email</label> </td><td> <input type="email" class="form-control" name="email" id="email" required></td></tr>
        <tr ><td> <label for="usr">Mobile</label></td><td> <input type="number" class="form-control" name="mobile" id="mobile" required>
        <!--<tr><td ><label for="usr"></label ><button  class="btn  btn-success" id="key">Key Generate</button></label></td><td style="padding-left:5px;  ">
        <input type="text" class="form-control" name="gkey" id="gkey" disabled required><br /></td></tr>-->


        <tr><td></td><td><input class="btn btn-primary" type="submit" name="submit" id="submit"></td></tr>
        </table>

        </form>
    




</body>
</html>

